<!DOCTYPE html>  
<html>
<head>
    {% load static %}  
    <title>Đăng nhập</title>  
    
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}">  
<body>
    
    <div class="container">
        <h2>Đăng nhập</h2>  
        <form method="POST">
            {% csrf_token %}  
            
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>  
            
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>  
            
    
            <button type="submit">Đăng nhập</button>  
        </form>

        
        <a href="{% url 'index' %}" class="back-link">Quay lại trang chủ</a>  
    </div>
</body>
</html>
